VITE_FIREBASE_API_KEY=AIzaSyBzorUzGc5K-fzmGTWKcMzjtngKqvjnMps
VITE_FIREBASE_AUTH_DOMAIN=relic-rush-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=relic-rush-dev
VITE_FIREBASE_STORAGE_BUCKET=relic-rush-dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1014064920086
VITE_FIREBASE_APP_ID=1:1014064920086:web:8600cab7f56975fc44e737
VITE_FIREBASE_MEASUREMENT_ID=G-EPT4YH7L3R

# Firebase Server (Admin SDK)
FIREBASE_PROJECT_ID=relic-rush-dev
FIREBASE_CLIENT_EMAIL=your-service-account-email
FIREBASE_PRIVATE_KEY=your-private-key
